# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#ignored folders
.gradle/
.recommenders/cache
.metadata/
gradle/wrapper
gradle/
.nb-gradle/

#ignored extensions
.exe
.bin
.class
